*{
       text-decoration: none;
       text-align: center;
}
body{
       background-color: black;
        color: green;
       

}
nav  {
       background-color: yellow;
       font-size: 14px;
       margin: 5px;
}
nav a{
       padding: 10px;
}

.active{
       background-color: black;
       color: white;
       height: 40px;
       border-style:double;
       border-color: dimgrey;
}

nav :hover{
       background-color: yellow;
       color: black;
       border-style: ridge;
       border-radius: 4px;
}

img {
       position: absolute 10px ;
       width: 40px;
       margin: 10px;
}
find a {
       background-color: yellow;
       font-size: 13px;
       padding: 5px;
       margin: 10px;
       border-radius: 20px;
       color: black;
       border-style: solid;
       border-color: white;
}
find h1  {
       font-size: 10px;
       color: blue;
}
.animate__animated animate__bounce {
padding: 10px;
       margin: 15px;
}


